@import url(./__image/close-icon__image.css);

.close-icon {
  position: absolute;
  top: -45.56px;
  right: -47px;
}

.close-icon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 485px) {
  .close-icon {
    top: -28px;
    right: -28px;
  }
}

@media screen and (max-width: 320px) {
  .close-icon {
    top: -21px;
    right: -21px;
  }
}
