@import url(./__info/element__info.css);
@import url(./__title/element__title.css);
@import url(./__heart/element__heart.css);

.element {
  background-color: #ffffff;
  overflow: hidden;
  color: #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
